<%= render 'layouts/navbar'%>

<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Services</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path%></li>
    <!-- <li><a href="index.html">Home</a></li> -->
    <!-- <li class="active">Services</li> -->
    <li><%= link_to "Services", services_path, class:'active'%></li>
  </ol>

  <div class="row">

    <div class="col-lg-12">

      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur elementum malesuada. Fusce viverra, quam ac vestibulum rhoncus, odio dolor bibendum ipsum, vel venenatis leo dolor vel lacus. In sed urna posuere, fermentum augue ut, pellentesque risus. Suspendisse posuere sem pretium, volutpat dolor non, consequat leo. Nulla tempus, dui vel tristique dictum, lacus purus scelerisque massa, sed hendrerit erat felis ut sapien. Suspendisse potenti. Proin convallis semper pulvinar.</p>
      </blockquote>

      <p>Praesent convallis a risus eget cursus. Phasellus ultrices laoreet lacus semper cursus. Nam vitae luctus sapien, a hendrerit nunc. Fusce sed sem bibendum, porta quam et, ornare urna. Sed rutrum eros libero, eget rutrum mi interdum eget. Quisque imperdiet consectetur turpis vel scelerisque. Vivamus consectetur pretium libero vel condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer laoreet enim vitae justo gravida mattis.</p>

    </div>

  </div>
  <div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Airfare prices</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->



  <div class="row pricing-table">

    <div class="col-sm-8 col-sm-offset-2">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>KIGALI  KGL</th>
          <th>NAIROBI NBO </th>
          <th>DAR-ES-SALAM  DAR</th>
          <th>JUBA  JUB</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>123</td>
          <td>160</td>
          <td>174</td>
          <td>180</td>
        </tr>
          
        </tbody>
        </table>
    </div>


  </div><!-- pricing table-->
   <br>
  <br>
   <div class="row pricing-table">

    <div class="col-sm-10 col-sm-offset-1">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>DUBAI DXB</th>
          <th>ABUDHABI  AUH</th>
          <th>ISTANBUL  IST</th>
          <th>DELHI DEL</th>
          <th>BOMBAY/MUMBAI BOM</th>
          <th>KOLKATA CCU</th>
          <th>SHANGAI SHA</th>
          <th>BEIJING BJS</th>
          <th>GUANGZHOU CAN</th>
        
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>200</td>
          <td>268</td>
          <td>360</td>
          <td>251</td>
          <td>352</td>
          <td>530</td>
          <td>484</td>
          <td>596</td>
          <td>619</td>
        </tr>
          
        </tbody>
        </table>
    </div>


  </div><!-- pricing table-->
   <br>
  <br>
   <div class="row pricing-table">

    <div class="col-sm-8 col-sm-offset-2">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>JOHHENSBURG JNB</th>
          <th>HARARE  HRE</th>
          <th>LAGOS LOS</th>
          <th>CAPETOWN  CPT</th>
           <th>LUSAKA  LUN</th>
          <th>ABUJA ABV</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>224</td>
          <td>379</td>
          <td>342</td>
          <td>282</td>
          <td>328</td>
          <td>347</td>
        </tr>
          
        </tbody>
        </table>
    </div>


  </div><!-- pricing table-->
   <br>
  <br>
   <div class="row pricing-table">

    <div class="col-sm-10 col-sm-offset-1">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>LONDON  LON </th>
          <th>MANCHESTER  MAN</th>
          <th>OSLO  OSL</th>
          <th>NICE  NCE</th>
          <th>BRUSSELS  BRU</th>
          <th>MOWSCOW MOW</th>
          <th>BERLIN  BER</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>262</td>
          <td>259</td>
          <td>357</td>
          <td>428</td>
          <td>334</td>
          <td>319</td>
          <td>474</td>
        </tr>
          
        </tbody>
        </table>
    </div>


  </div><!-- pricing table-->
  <br>
  <br>
   <div class="row pricing-table">

    <div class="col-sm-8 col-sm-offset-2">
     <table class="table table-condensed">
        <thead>
        <tr>
          <th>WASHINGTON  WAS/IAD</th>
          <th>BOSTON  BOS</th>
          <th>TORONTO YYZ</th>
          <th>CALGARY YYC</th>
          <th>NEWYORK CITY  NYC</th>
          <th>LOS-ANGELES LAX</th>
          <th>MONTREAL  YUL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>470</td>
          <td>443</td>
          <td>501</td>
          <td>597</td>
          <td>477</td>
          <td>665</td>
          <td>715</td>
        </tr>
          
        </tbody>
        </table>
    </div>

  </div><!-- pricing table-->
   <div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Truck and Car hire prices</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->
 <div class="row pricing-table">

    <div class="col-sm-8 col-sm-offset-2">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>TOWN RUNNING   FUEL EXCLUSIVE</th>
        </tr>
        <tr>
          <th>CAR TYPE</th>
          <th>PRICE PER DAY USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>SALOON CAR</td>
          <td>20</td>
        </tr>
        <tr>
          <td>LAND CRUSIER 4X4</td>
          <td>50</td>
        </tr>
        <tr>
          <td>MINI VAN 7 SEATER</td>
          <td>50</td>
        </tr>
        <tr>
          <td>OMINI BUS 14 SEATER</td>
          <td>50</td>
        </tr>
        <tr>
          <td>COASTER BUS 28 SEATER</td>
          <td>100</td>
        </tr>
        <tr>
          <td>BUS 67 SEATER</td>
          <td>200</td>
        </tr>
          
        </tbody>
        </table>
    </div>
  </div><!-- pricing table-->

   <div class="row pricing-table">

    <div class="col-sm-8 col-sm-offset-2">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>UPCOUNTRY  FUEL EXCLUSIVE</th>
        </tr>
        <tr>
          <th>CAR TYPE</th>
          <th>PRICE PER DAY USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>SALOON CAR</td>
          <td>50</td>
        </tr>
        <tr>
          <td>LAND CRUSIER 4X4</td>
          <td>70</td>
        </tr>
        <tr>
          <td>MINI VAN 7 SEATER</td>
          <td>80</td>
        </tr>
        <tr>
          <td>OMINI BUS 14 SEATER</td>
          <td>100</td>
        </tr>
        <tr>
          <td>COASTER BUS 28 SEATER</td>
          <td>150</td>
        </tr>
        <tr>
          <td>BUS 67 SEATER</td>
          <td>500</td>
        </tr>
          
        </tbody>
        </table>
    </div>

  </div><!-- pricing table-->

   <div class="row pricing-table">

    <div class="col-sm-8 col-sm-offset-2">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>AIRPORT TRANSFERS  FUEL INCLUSIVE</th>
        </tr>
        <tr>
          <th>CAR TYPE</th>
          <th>PRICE PER PICK</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>SALOON CAR</td>
          <td>50</td>
        </tr>
        <tr>
          <td>LAND CRUSIER 4X4</td>
          <td>60</td>
        </tr>
        <tr>
          <td>MINI VAN 7 SEATER</td>
          <td>70</td>
        </tr>
        <tr>
          <td>OMINI BUS 14 SEATER</td>
          <td>80</td>
        </tr>
        <tr>
          <td>COASTER BUS 28 SEATER</td>
          <td>100</td>
        </tr>
        <tr>
          <td>BUS 67 SEATER</td>
          <td>200</td>
        </tr>
          
        </tbody>
        </table>
    </div>

  </div><!-- pricing table-->
   <div class="row pricing-table">

    <div class="col-sm-8 col-sm-offset-2">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>TRUCKS - TOWN RUNNING  NO FUEL</th>
        </tr>
        <tr>
          <th>TRUCK TYPE</th>
          <th>PRICE PER DAY USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>4-6 METRIC TONS</td>
          <td>150</td>
        </tr>
        <tr>
          <td>6-10 METRIC TONS</td>
          <td>200</td>
        </tr>
        <tr>
          <td>10-20 METRIC TONS</td>
          <td>300</td>
        </tr>
        <tr>
          <td>20-40 METRIC TONS</td>
          <td>400</td>
        </tr>
          
        </tbody>
        </table>
    </div>

  </div><!-- pricing table-->
 <div class="row pricing-table">

    <div class="col-sm-8 col-sm-offset-2">
     <table class="table table-hover">
        <thead>
        <tr>
          <th>TRUCKS - UPCOUNTRY  NO FUEL</th>
        </tr>
        <tr>
          <th>TRUCK TYPE</th>
          <th>PRICE PER DAY USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>4-6 METRIC TONS</td>
          <td>200</td>
        </tr>
        <tr>
          <td>6-10 METRIC TONS</td>
          <td>300</td>
        </tr>
        <tr>
          <td>10-20 METRIC TONS</td>
          <td>400</td>
        </tr>
        <tr>
          <td>20-40 METRIC TONS</td>
          <td>500</td>
        </tr>
          
        </tbody>
        </table>
    </div>

  </div><!-- pricing table-->

</div><!-- /.container -->

<%= render 'layouts/footer'%>

<%= render 'layouts/rights'%>

