<%= render 'layouts/navbar'%>

<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Portfolio</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path%></li>
    <li class="active">Portfolio</li>
  </ol>

  <div class="row">

    <div class="col-md-7 col-sm-7">
      <a href="portfolio-item.html"><img class="img-responsive" src="/assets/portfolio_1.png" alt="Portfolio 1"></a>
    </div>

    <div class="col-md-5 col-sm-5">
      <h3>Banzhow Template</h3>
      <h4>Web Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.</p>
      <a class="btn btn-primary" <%= link_to "View Project", portfolio_path(:id)%> <i class="fa fa-angle-right"></i></a>
    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col-md-7 col-sm-7">
      <a href="portfolio-item.html"><img class="img-responsive" src="/assets/portfolio_2.png" alt="Portfolio 2"></a>
    </div>

    <div class="col-md-5 col-sm-5">
      <h3>Banzhow Template</h3>
      <h4>Web Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.</p>
      <a class="btn btn-primary" <%= link_to "View Project", portfolio_path(:id)%> <i class="fa fa-angle-right"></i></a>
    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col-md-7 col-sm-7">
      <a href="portfolio-item.html"><img class="img-responsive" src="/assets/portfolio_3.png" alt="Portfolio 3"></a>
    </div>

    <div class="col-md-5 col-sm-5">
      <h3>Banzhow Template</h3>
      <h4>Web Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.</p>
      <a class="btn btn-primary" <%= link_to "View Project", portfolio_path(:id)%> <i class="fa fa-angle-right"></i></a>
    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col-md-7 col-sm-7">
      <a href="portfolio-item.html"><img class="img-responsive" src="/assets/portfolio_4.png" alt="Portfolio 4"></a>
    </div>

    <div class="col-md-5 col-sm-5">
      <h3>Banzhow Template</h3>
      <h4>Web Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.</p>
      <a class="btn btn-primary" <%= link_to "View Project", portfolio_path(:id)%> <i class="fa fa-angle-right"></i></a>
    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col-md-7 col-sm-7">
      <a href="portfolio-item.html"><img class="img-responsive" src="/assets/portfolio_5.png" alt="Portfolio 5"></a>
    </div>

    <div class="col-md-5 col-sm-5">
      <h3>Banzhow Template</h3>
      <h4>Web Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.</p>
      <a class="btn btn-primary" <%= link_to "View Project", portfolio_path(:id)%> <i class="fa fa-angle-right"></i></a>
    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col-md-7 col-sm-7">
      <a href="portfolio-item.html"><img class="img-responsive" src="/assets/portfolio_6.png" alt="Portfolio 6"></a>
    </div>

    <div class="col-md-5 col-sm-5">
      <h3>Banzhow Template</h3>
      <h4>Web Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.</p>
      <a class="btn btn-primary" <%= link_to "View Project", portfolio_path(:id)%> <i class="fa fa-angle-right"></i></a>
    </div>

  </div>

</div><!-- /.container -->

<%= render 'layouts/footer'%>

<%= render 'layouts/rights'%>

