<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car hire and Tour and travel company">
    <meta name="author" content="nkusi alex shyaka: Therailsshop web studio">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


 <title>Africarlogistics</title>
  
   <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name.to_s == 'notice' ? "success" : "danger"  %> alert-dismissable" >
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times; </button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
    <% end %>
<% end %>

<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
 <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="js/boxsizing/jquery.boxsizing.js"></script> 
    <![endif]-->
    <script src="/assets/banzhow.js"></script> 


</body>
</html>
